################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#/Programs/DataTypes/.vs/DataTypes
/C#/Programs/DataTypes/DataTypes.csproj
/C#/Programs/DataTypes/DataTypes.sln
/C#/Programs/DataTypes/obj
/C#/Programs/ShapeDrawing/.vs
/C#/Programs/ShapeDrawing/obj
/C#/Programs/ShapeDrawing/ShapeDrawing.csproj
/C#/Programs/ShapeDrawing/ShapeDrawing.sln
/C#/Programs/Variables/.vs
/C#/Programs/Variables/obj
/C#/Programs/Variables/Variables.csproj
/C#/Programs/Variables/Variables.sln
/C#/Programs/DataTypes/bin/Debug/net8.0
/C#/Programs/DataTypes/.vs/ProjectEvaluation
/C#/Programs/Strings/.vs/Strings
/C#/Programs/Strings/bin/Debug/net8.0
/C#/Programs/Strings/obj
/C#/Programs/Strings/Strings.csproj
/C#/Programs/Strings/Strings.sln
/C#/Programs/Numbers/.vs/Numbers
/C#/Programs/Numbers/Numbers.csproj
/C#/Programs/Numbers/Numbers.sln
/C#/Programs/Numbers/obj
/C#/Programs/Strings/.vs/ProjectEvaluation
/C#/Programs/Strings/.vs/ProjectEvaluation/strings.metadata.v7.bin
/C#/Programs/Strings/.vs/ProjectEvaluation/strings.projects.v7.bin
/C#/Programs/Numbers/bin/Debug/net8.0
/C#/Programs/Numbers/.vs/ProjectEvaluation
/C#/Programs/UserInput/.vs/UserInput
/C#/Programs/UserInput/bin/Debug/net8.0
/C#/Programs/UserInput/obj
/C#/Programs/UserInput/UserInput.csproj
/C#/Programs/UserInput/UserInput.sln
