################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#/Programs/DataTypes/.vs/DataTypes
/C#/Programs/DataTypes/DataTypes.csproj
/C#/Programs/DataTypes/DataTypes.sln
/C#/Programs/DataTypes/obj
/C#/Programs/ShapeDrawing/.vs
/C#/Programs/ShapeDrawing/obj
/C#/Programs/ShapeDrawing/ShapeDrawing.csproj
/C#/Programs/ShapeDrawing/ShapeDrawing.sln
/C#/Programs/Variables/.vs
/C#/Programs/Variables/obj
/C#/Programs/Variables/Variables.csproj
/C#/Programs/Variables/Variables.sln
/C#/Programs/DataTypes/bin/Debug/net8.0
/C#/Programs/DataTypes/.vs/ProjectEvaluation
/C#/Programs/Strings/.vs/Strings
/C#/Programs/Strings/bin/Debug/net8.0
/C#/Programs/Strings/obj
/C#/Programs/Strings/Strings.csproj
/C#/Programs/Strings/Strings.sln
/C#/Programs/Numbers/.vs/Numbers
/C#/Programs/Numbers/Numbers.csproj
/C#/Programs/Numbers/Numbers.sln
/C#/Programs/Numbers/obj
/C#/Programs/Strings/.vs/ProjectEvaluation
/C#/Programs/Strings/.vs/ProjectEvaluation/strings.metadata.v7.bin
/C#/Programs/Strings/.vs/ProjectEvaluation/strings.projects.v7.bin
/C#/Programs/Numbers/bin/Debug/net8.0
/C#/Programs/Numbers/.vs/ProjectEvaluation
/C#/Programs/UserInput/.vs/UserInput
/C#/Programs/UserInput/bin/Debug/net8.0
/C#/Programs/UserInput/obj
/C#/Programs/UserInput/UserInput.csproj
/C#/Programs/UserInput/UserInput.sln
/C#/Programs/Calculator/.vs/Calculator
/C#/Programs/Calculator/bin/Debug/net8.0
/C#/Programs/Calculator/Calculator.csproj
/C#/Programs/Calculator/Calculator.sln
/C#/Programs/Calculator/obj
/C#/Programs/UserInput/.vs/ProjectEvaluation
/C#/Programs/Arrays/.vs/Arrays
/C#/Programs/Arrays/Arrays.csproj
/C#/Programs/Arrays/Arrays.sln
/C#/Programs/Arrays/bin/Debug/net8.0
/C#/Programs/Arrays/obj
/C#/Programs/Calculator/.vs/ProjectEvaluation
/C#/Programs/Arrays/.vs/ProjectEvaluation
/C#/Programs/Methods/.vs/Methods
/C#/Programs/Methods/bin/Debug/net8.0
/C#/Programs/Methods/Methods.csproj
/C#/Programs/Methods/Methods.sln
/C#/Programs/Methods/obj
/C#/Programs/Methods/.vs/ProjectEvaluation
/C#/Programs/Return/.vs/Return
/C#/Programs/Return/bin/Debug/net8.0
/C#/Programs/Return/Return.csproj
/C#/Programs/Return/Return.sln
/C#/Programs/Return/.vs/ProjectEvaluation
/C#/Programs/Return/obj
/C#/Programs/ifstatement/.vs/ifstatement
/C#/Programs/ifstatement/ifstatement.csproj
/C#/Programs/ifstatement/ifstatement.sln
/C#/Programs/ifstatement/obj
/C#/Programs/ifstatement/bin/Debug/net8.0
/C#/Programs/BetterCalculator/.vs/BetterCalculator
/C#/Programs/BetterCalculator/BetterCalculator.csproj
/C#/Programs/BetterCalculator/BetterCalculator.sln
/C#/Programs/BetterCalculator/bin/Debug/net8.0
/C#/Programs/BetterCalculator/obj
/C#/Programs/ifstatement/.vs/ProjectEvaluation
/C#/Programs/BetterCalculator/.vs/ProjectEvaluation
/C#/Programs/Switch/.vs/Switch
/C#/Programs/Switch/bin/Debug/net8.0
/C#/Programs/Switch/obj
/C#/Programs/Switch/Switch.csproj
/C#/Programs/Switch/Switch.sln
/C#/Programs/Switch/.vs/ProjectEvaluation
/C#/Programs/WhileLoop/.vs/WhileLoop
/C#/Programs/WhileLoop/bin/Debug/net8.0
/C#/Programs/WhileLoop/obj
/C#/Programs/WhileLoop/WhileLoop.csproj
/C#/Programs/WhileLoop/WhileLoop.sln
/C#/Programs/GuessingGame/.vs
/C#/Programs/GuessingGame/GuessingGame.csproj
/C#/Programs/GuessingGame/GuessingGame.sln
/C#/Programs/GuessingGame/obj
/C#/Programs/WhileLoop/.vs/ProjectEvaluation
/C#/Programs/GuessingGame/bin/Debug/net8.0
/C#/Programs/ForLoop/.vs/ForLoop
/C#/Programs/ForLoop/bin/Debug/net8.0
/C#/Programs/ForLoop/ForLoop.csproj
/C#/Programs/ForLoop/ForLoop.sln
/C#/Programs/ForLoop/obj
/C#/Programs/Exponent/.vs
/C#/Programs/Exponent/bin/Debug/net8.0
/C#/Programs/Exponent/Exponent.csproj
/C#/Programs/Exponent/Exponent.sln
/C#/Programs/Exponent/obj
/C#/Programs/ForLoop/.vs/ProjectEvaluation
/C#/Programs/2DArray/.vs/2DArray
/C#/Programs/2DArray/2DArray.csproj
/C#/Programs/2DArray/2DArray.sln
/C#/Programs/2DArray/bin/Debug/net8.0
/C#/Programs/2DArray/obj
/C#/Programs/2DArray/.vs/ProjectEvaluation
/C#/Programs/ExceptionHandeling/.vs
/C#/Programs/ExceptionHandeling/bin
/C#/Programs/ExceptionHandeling/ExceptionHandeling.csproj
/C#/Programs/ExceptionHandeling/ExceptionHandeling.sln
/C#/Programs/ExceptionHandeling/obj
/C#/Programs/Classes/.vs/Classes
/C#/Programs/Classes/bin/Debug/net8.0
/C#/Programs/Classes/Classes.csproj
/C#/Programs/Classes/Classes.sln
/C#/Programs/Classes/obj
/C#/Programs/Classes/.vs/ProjectEvaluation
/C#/Programs/Constructor/.vs
/C#/Programs/Constructor/bin/Debug/net8.0
/C#/Programs/Constructor/Constructor.csproj
/C#/Programs/Constructor/Constructor.sln
/C#/Programs/Constructor/obj
/C#/Programs/ObjectMethods/.vs/ObjectMethods
/C#/Programs/ObjectMethods/bin/Debug/net8.0
/C#/Programs/ObjectMethods/obj
/C#/Programs/ObjectMethods/ObjectMethods.csproj
/C#/Programs/ObjectMethods/ObjectMethods.sln
/C#/Programs/GetterSetter/.vs
/C#/Programs/GetterSetter/bin/Debug/net8.0
/C#/Programs/GetterSetter/GetterSetter.csproj
/C#/Programs/GetterSetter/GetterSetter.sln
/C#/Programs/GetterSetter/obj
/C#/Programs/ObjectMethods/.vs/ProjectEvaluation
/C#/Programs/StaticClassAttributes/.vs/StaticClassAttributes
/C#/Programs/StaticClassAttributes/bin/Debug/net8.0
/C#/Programs/StaticClassAttributes/obj
/C#/Programs/StaticClassAttributes/StaticClassAttributes.csproj
/C#/Programs/StaticClassAttributes/StaticClassAttributes.sln
/C#/Programs/StaticClassAttributes/.vs/ProjectEvaluation
/C#/Programs/StaticMethodsClasses/.vs/StaticMethodsClasses
/C#/Programs/StaticMethodsClasses/bin/Debug/net8.0
/C#/Programs/StaticMethodsClasses/obj
/C#/Programs/StaticMethodsClasses/StaticMethodsClasses.csproj
/C#/Programs/StaticMethodsClasses/StaticMethodsClasses.sln
/C#/Programs/Inheritance/.vs/Inheritance
/C#/Programs/Inheritance/bin/Debug/net8.0
/C#/Programs/Inheritance/Inheritance.csproj
/C#/Programs/Inheritance/Inheritance.sln
/C#/Programs/Inheritance/obj
/C#/Programs/StaticMethodsClasses/.vs/ProjectEvaluation
/C#/Programs/Inheritance/.vs/ProjectEvaluation
/C#/Windows_Form_Application/VPApp1/.vs/VPApp1
/C#/Windows_Form_Application/VPApp1/bin/Debug
/C#/Windows_Form_Application/VPApp1/obj/Debug
/C#/Windows_Form_Application/VPApp1/VPApp1.csproj
/C#/Windows_Form_Application/VPApp1/VPApp1.sln
/C#/Windows_Form_Application/VpApp2/.vs/VpApp2
/C#/Windows_Form_Application/VpApp2/obj/Debug
/C#/Windows_Form_Application/VpApp2/VpApp2.csproj
/C#/Windows_Form_Application/VpApp2/VpApp2.sln
/C#/Windows_Form_Application/VpApp2/bin/Debug
/C#/Windows_Form_Application/VpApp2/obj/Release
/C#/Windows_Form_Application/VpApp2/bin/Release
/C#/Windows_Form_Application/DateTimeApp/.vs/DateTimeApp
/C#/Windows_Form_Application/DateTimeApp/bin/Debug
/C#/Windows_Form_Application/DateTimeApp/DateTimeApp.csproj
/C#/Windows_Form_Application/DateTimeApp/DateTimeApp.sln
/C#/Windows_Form_Application/DateTimeApp/obj/Debug
/C#/Windows_Form_Application/VpApp2/.vs
/C#/Windows_Form_Application/RadioButtons/.vs/RadioButtons
/C#/Windows_Form_Application/RadioButtons/obj/Debug
/C#/Windows_Form_Application/RadioButtons/RadioButtons.csproj
/C#/Windows_Form_Application/RadioButtons/RadioButtons.sln
/C#/Windows_Form_Application/RadioButtons/bin/Debug
/C#/Windows_Form_Application/DialogBox/.vs/DialogBox
/C#/Windows_Form_Application/DialogBox/obj/Debug
*.sln
/C#/Windows_Form_Application/DialogBox/bin/Debug
*.csproj
/C#/Windows_Form_Application/FlightBookingApp/.vs/FlightBookingApp
/C#/Windows_Form_Application/FlightBookingApp/obj/Debug
/C#/Windows_Form_Application/FlightBookingApp/bin/Debug
/C#/Windows_Form_Application/ClinicApp/.vs/ClinicApp
/C#/Windows_Form_Application/ClinicApp/bin/Debug
/C#/Windows_Form_Application/ClinicApp/obj/Debug
/C#/Windows_Form_Application/UniversityApp/.vs/UniversityApp
/C#/Windows_Form_Application/UniversityApp/bin/Debug
/C#/Windows_Form_Application/UniversityApp/obj/Debug
/C#/Windows_Form_Application/DatabaseProject/.vs/DatabaseProject
/C#/Windows_Form_Application/DatabaseProject/bin/Debug
/C#/Windows_Form_Application/DatabaseProject/obj/Debug
/C#/Windows_Form_Application/DatabaseProject/bin/Release
/C#/Windows_Form_Application/DatabaseProject/obj/Release
/SQL/.vs
/C#/Windows_Form_Application/MultiLanguageApplication/.vs/MultiLanguageApplication
/C#/Windows_Form_Application/MultiLanguageApplication/bin/Debug
/C#/Windows_Form_Application/MultiLanguageApplication/obj/Debug
OpenGL/003/OpenGLCourseApp/.vs/OpenGLCourseApp/v17/.suo
OpenGL/003/OpenGLCourseApp/.vs/OpenGLCourseApp/v17/Browse.VC.db
OpenGL/003/OpenGLCourseApp/.vs/OpenGLCourseApp/v17/Browse.VC.db-shm
OpenGL/003/OpenGLCourseApp/.vs/OpenGLCourseApp/v17/Browse.VC.db-wal
OpenGL/003/OpenGLCourseApp/.vs/OpenGLCourseApp/v17/Browse.VC.opendb
OpenGL/003/OpenGLCourseApp/.vs/OpenGLCourseApp/v17/DocumentLayout.json
OpenGL/003/OpenGLCourseApp/.vs/OpenGLCourseApp/FileContentIndex/e2b50920-8c4b-42b8-a66f-499ddc4298c9.vsidx
OpenGL/003/OpenGLCourseApp/.vs/OpenGLCourseApp/FileContentIndex/8c3c1c0e-cc8e-48bb-975f-e4dcfd4793ec.vsidx
