################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#/Programs/DataTypes/.vs/DataTypes
/C#/Programs/DataTypes/DataTypes.csproj
/C#/Programs/DataTypes/DataTypes.sln
/C#/Programs/DataTypes/obj
/C#/Programs/ShapeDrawing/.vs
/C#/Programs/ShapeDrawing/obj
/C#/Programs/ShapeDrawing/ShapeDrawing.csproj
/C#/Programs/ShapeDrawing/ShapeDrawing.sln
/C#/Programs/Variables/.vs
/C#/Programs/Variables/obj
/C#/Programs/Variables/Variables.csproj
/C#/Programs/Variables/Variables.sln
/C#/Programs/DataTypes/bin/Debug/net8.0
/C#/Programs/DataTypes/.vs/ProjectEvaluation
/C#/Programs/Strings/.vs/Strings
/C#/Programs/Strings/bin/Debug/net8.0
/C#/Programs/Strings/obj
/C#/Programs/Strings/Strings.csproj
/C#/Programs/Strings/Strings.sln
/C#/Programs/Numbers/.vs/Numbers
/C#/Programs/Numbers/Numbers.csproj
/C#/Programs/Numbers/Numbers.sln
/C#/Programs/Numbers/obj
/C#/Programs/Strings/.vs/ProjectEvaluation
/C#/Programs/Strings/.vs/ProjectEvaluation/strings.metadata.v7.bin
/C#/Programs/Strings/.vs/ProjectEvaluation/strings.projects.v7.bin
/C#/Programs/Numbers/bin/Debug/net8.0
/C#/Programs/Numbers/.vs/ProjectEvaluation
/C#/Programs/UserInput/.vs/UserInput
/C#/Programs/UserInput/bin/Debug/net8.0
/C#/Programs/UserInput/obj
/C#/Programs/UserInput/UserInput.csproj
/C#/Programs/UserInput/UserInput.sln
/C#/Programs/Calculator/.vs/Calculator
/C#/Programs/Calculator/bin/Debug/net8.0
/C#/Programs/Calculator/Calculator.csproj
/C#/Programs/Calculator/Calculator.sln
/C#/Programs/Calculator/obj
/C#/Programs/UserInput/.vs/ProjectEvaluation
/C#/Programs/Arrays/.vs/Arrays
/C#/Programs/Arrays/Arrays.csproj
/C#/Programs/Arrays/Arrays.sln
/C#/Programs/Arrays/bin/Debug/net8.0
/C#/Programs/Arrays/obj
/C#/Programs/Calculator/.vs/ProjectEvaluation
/C#/Programs/Arrays/.vs/ProjectEvaluation
/C#/Programs/Methods/.vs/Methods
/C#/Programs/Methods/bin/Debug/net8.0
/C#/Programs/Methods/Methods.csproj
/C#/Programs/Methods/Methods.sln
/C#/Programs/Methods/obj
/C#/Programs/Methods/.vs/ProjectEvaluation
/C#/Programs/Return/.vs/Return
/C#/Programs/Return/bin/Debug/net8.0
/C#/Programs/Return/Return.csproj
/C#/Programs/Return/Return.sln
/C#/Programs/Return/.vs/ProjectEvaluation
/C#/Programs/Return/obj
/C#/Programs/ifstatement/.vs/ifstatement
/C#/Programs/ifstatement/ifstatement.csproj
/C#/Programs/ifstatement/ifstatement.sln
/C#/Programs/ifstatement/obj
/C#/Programs/ifstatement/bin/Debug/net8.0
/C#/Programs/BetterCalculator/.vs/BetterCalculator
/C#/Programs/BetterCalculator/BetterCalculator.csproj
/C#/Programs/BetterCalculator/BetterCalculator.sln
/C#/Programs/BetterCalculator/bin/Debug/net8.0
/C#/Programs/BetterCalculator/obj
/C#/Programs/ifstatement/.vs/ProjectEvaluation
/C#/Programs/BetterCalculator/.vs/ProjectEvaluation
/C#/Programs/Switch/.vs/Switch
/C#/Programs/Switch/bin/Debug/net8.0
/C#/Programs/Switch/obj
/C#/Programs/Switch/Switch.csproj
/C#/Programs/Switch/Switch.sln
/C#/Programs/Switch/.vs/ProjectEvaluation
/C#/Programs/WhileLoop/.vs/WhileLoop
/C#/Programs/WhileLoop/bin/Debug/net8.0
/C#/Programs/WhileLoop/obj
/C#/Programs/WhileLoop/WhileLoop.csproj
/C#/Programs/WhileLoop/WhileLoop.sln
/C#/Programs/GuessingGame/.vs
/C#/Programs/GuessingGame/GuessingGame.csproj
/C#/Programs/GuessingGame/GuessingGame.sln
/C#/Programs/GuessingGame/obj
/C#/Programs/WhileLoop/.vs/ProjectEvaluation
/C#/Programs/GuessingGame/bin/Debug/net8.0
/C#/Programs/ForLoop/.vs/ForLoop
/C#/Programs/ForLoop/bin/Debug/net8.0
/C#/Programs/ForLoop/ForLoop.csproj
/C#/Programs/ForLoop/ForLoop.sln
/C#/Programs/ForLoop/obj
/C#/Programs/Exponent/.vs
/C#/Programs/Exponent/bin/Debug/net8.0
/C#/Programs/Exponent/Exponent.csproj
/C#/Programs/Exponent/Exponent.sln
/C#/Programs/Exponent/obj
/C#/Programs/ForLoop/.vs/ProjectEvaluation
/C#/Programs/2DArray/.vs/2DArray
/C#/Programs/2DArray/2DArray.csproj
/C#/Programs/2DArray/2DArray.sln
/C#/Programs/2DArray/bin/Debug/net8.0
/C#/Programs/2DArray/obj
/C#/Programs/2DArray/.vs/ProjectEvaluation
/C#/Programs/ExceptionHandeling/.vs
/C#/Programs/ExceptionHandeling/bin
/C#/Programs/ExceptionHandeling/ExceptionHandeling.csproj
/C#/Programs/ExceptionHandeling/ExceptionHandeling.sln
/C#/Programs/ExceptionHandeling/obj
/C#/Programs/Classes/.vs/Classes
/C#/Programs/Classes/bin/Debug/net8.0
/C#/Programs/Classes/Classes.csproj
/C#/Programs/Classes/Classes.sln
/C#/Programs/Classes/obj
/C#/Programs/Classes/.vs/ProjectEvaluation
/C#/Programs/Constructor/.vs
/C#/Programs/Constructor/bin/Debug/net8.0
/C#/Programs/Constructor/Constructor.csproj
/C#/Programs/Constructor/Constructor.sln
/C#/Programs/Constructor/obj
